@page

@model WeirdFlex.Api.Pages.IndexModel
@{
    ViewBag.Title = "Overview";
}

<div class="card-deck mb-5 text-left mt-5 mr-5">
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Database Status</h4>
        </div>
        <div class="card-body">
            <h2 class="card-title">
            </h2>
            <table class="card-table table">
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Bartender</h4>
        </div>
        <div class="card-body">
            <h2 class="card-title">
            </h2>
            <table class="card-table table">
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">StockData Receiver</h4>
        </div>
        <div class="card-body">
            <h2 class="card-title">
            </h2>
            <table class="card-table table">
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mb-4 shadow-sm">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">PrintJob Receiver</h4>
        </div>
        <div class="card-body">
            <h2 class="card-title">
            </h2>
            <table class="card-table table">
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
